<!DOCTYPE html>
<html lang="en">
<%- include('templates/header.ejs')%>
<body>
    <%- include('templates/navBar.ejs') %>
    <div class="container-form">
        <div class="card card-form ">
            <div class="card-header">
                <h1>Agregar psicologo/a</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="input-name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name">
                                <div id="name-error" class="error-message"></div>
                            </div>
                            <div class="mb-3">
                                <label for="input-description" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="description">
                            </div>
                            <div class="mb-3">
                                <label for="input-email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="email">
                                <div id="email-error" class="error-message"></div>
                            </div>
                            <div class="mb-3">
                                <label for="select-mod" class="form-label">Selecione modalidad</label>
                                <select class="form-select" aria-label="Default select example" id="select">
                                    <option value="1">Presencial</option>
                                    <option value="2">Virtual</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="input-value" class="form-label">Valor Consulta</label>
                                <input type="number" class="form-control" id="consult-value">
                            </div>
                            <div class="mb-3">
                                <label for="input-value" class="form-label">N° Celular</label>
                                <input type="number" class="form-control" id="n-phone">
                            </div>
                            <div class="mb-3">
                                <label for="input-dir" class="form-label">Direccion</label>
                                <input type="text" class="form-control" id="dir">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="add-btn">Agregar</button>
                  </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>    