<!DOCTYPE html>
<html lang="en">
    <%- include('templates/header.ejs')%>
<body>
    <%- include('templates/navBar.ejs')%>    

    <div class="container d-flex flex-row"> 
        <div class="card mb-3 card-info">
            <img src="/images/conectarNaturaleza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Efecto de la Naturaleza en el Ánimo</h5>
              <p class="card-text">Sumergirse en entornos naturales tiene un impacto significativo en el bienestar emocional. Por esto, pasar tiempo al aire libre no solo reduce el estrés, sino que también eleva significativamente el ánimo, creando así una conexión beneficiosa entre el ser humano y la naturaleza.</p>
              <p class="card-text"><small class="text-body-secondary">Publicado el 22 de noviembre de 2023</small></p>
            </div>
        </div>
        
        <div class="card mb-3 card-info">
            <img src="/images/meditarNaturaleza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Meditación y Cerebro</h5>
              <p class="card-text"> La práctica regular de la meditación va más allá de la calma superficial. Se ha demostrado que induce cambios estructurales en el cerebro, fortaleciendo áreas asociadas con la empatía, el autocontrol y el manejo efectivo del estrés, generando así un equilibrio mental sostenible.</p>
              <p class="card-text"><small class="text-body-secondary">Publicado el 20 de noviembre de 2023</small></p>
            </div>
        </div>
        <div class="card mb-3 card-info">
            <img src="/images/amigos.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conexiones Sociales</h5>
              <p class="card-text">  La calidad de nuestras relaciones sociales tiene un impacto directo en la salud mental. Cultivar conexiones sólidas y saludables no solo contribuye a un mayor bienestar emocional, sino que también se asocia con una mayor longevidad y resistencia ante los desafíos de la vida.</p>
              <p class="card-text"><small class="text-body-secondary">Publicado el 17 de noviembre de 2023</small></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
