body{
    background-color: #f5e4f7;
}

.mi-navbar {
    background-color: rgba(66, 47, 67, 0.92) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
.mi-navbar .navbar-nav .nav-link {
    color: #ffffff; 
  }
  .navbar-nav .nav-item {
    margin-right: 25px; 
    margin-left: 25px;
}

.navbar-nav .nav-link {
    font-size: 18px; 
}

  .mi-navbar .navbar-nav .nav-link:hover {
    color: #dc9ce4;
}

.mi-navbar .navbar-toggler-icon {
    filter: invert(1); 
}
.navbar-toggler-icon:hover {
    filter: invert(0.5);
  }

  .carousel-container {
    max-width: 800px; 
    margin: auto; 
}

.text-descriptor {
    max-width: 1500px; 
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.text-descriptor h2 {
    color: #422F43;
}

.text-descriptor p {
    color: #422F43;
    font-size: 17px; 
}
.centered-button {
    display: block;
    margin: auto;
  }

  
  .btn-primary {
    background-color: #dc9ce4;
   border-color: #dc9ce4;
   margin-bottom: 10px;
   font-size: 18px;
  }

  .btn-primary:hover {
    background-color: #422F43; /* Cambia "tuNuevoColor" al color que prefieras */
    border-color: #422F43; /* Puedes ajustar el color del borde si es necesario */
    color: #f5e4f7; /* Puedes ajustar el color del texto al hacer hover si es necesario */
}

  





  